nav a {
margin-top:20px;
color:#432A11;
text-decoration:none;
font-family:sans-serif;
font-size:35px;
border:4px double #F6F65C;
}
.one {
transition:0.4s;
position:fixed;
left:-100px;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdFlpykCWPlfqazky2ZLYi2DgGwJ3be3hPoA&s);
background-size: cover;
opacity:0.5;
border-radius:5px;
}
.one:hover {
opacity:1;
transition:0.6s;
left:0px;
}
.two {
transition:0.4s;
position:fixed;
left:-170px;
top:80px;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdFlpykCWPlfqazky2ZLYi2DgGwJ3be3hPoA&s);
background-size: cover;
opacity:0.5;
border-radius:5px;
}
.two:hover {
opacity:1;
transition:0.6s;
left:0px;
}
.three {
transition:0.4s;
position:fixed;
left:-115px;
top:140px;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdFlpykCWPlfqazky2ZLYi2DgGwJ3be3hPoA&s);
background-size: cover;
opacity:0.5;
border-radius:5px;
}
.three:hover {
opacity:1;
transition:0.6s;
left:0px;
}
header h2 {
 font-size:35px;
font-family:monospace;
text-align:center;
color:#008010;
}
main h2 {
 font-size:35px;
font-family:monospace;
text-align:center;
color:#008010;
}
header h3 {
position:relative;
top:-30px;
 font-size:25px;
font-family:monospace;
text-align:center;
color:#C7A578;
}
header li:NTH-CHILD(2) {
color:red;
}
header li {
color:#F6F65C;
font-size:25px;
margin-left:40px;
}
header ul {
list-style:url("https://i.ibb.co/35SvqFct/miner.png");
}
.new {
position:absolute;
left:165px;
top:215px;
}
body {
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXyAuGqlWAv6lieCSd6uMSjr2beAL3FTyJAQ&s");
}
main p {
color:#8AAC6E;
font-size:25px;
font-family:monospace;
}
footer h3 {
    border-top: 4px dotted #EBD4B5;
font-family:monospace;
color:#C1A37C;
font-size:35px;
text-align:center;
}
footer h2 {
font-family:monospace;
color:#7E5E34;
font-size:25px;
float:left;
}
main span {
color:#4C702F;
}
.video {
border-radius:50px;
}
