nav a {
margin-top:20px;
color:#432A11;
text-decoration:none;
font-family:sans-serif;
font-size:35px;
border:4px double #F6F65C;
}
.one {
transition:0.4s;
position:fixed;
left:-100px;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdFlpykCWPlfqazky2ZLYi2DgGwJ3be3hPoA&s);
background-size: cover;
opacity:0.5;
border-radius:5px;
}
.one:hover {
opacity:1;
transition:0.6s;
left:0px;
}
.two {
transition:0.4s;
position:fixed;
left:-170px;
top:85px;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdFlpykCWPlfqazky2ZLYi2DgGwJ3be3hPoA&s);
background-size: cover;
opacity:0.5;
border-radius:5px;
}
.two:hover {
opacity:1;
transition:0.6s;
left:0px;
}
.three {
transition:0.4s;
position:fixed;
left:-115px;
top:140px;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdFlpykCWPlfqazky2ZLYi2DgGwJ3be3hPoA&s);
background-size: cover;
opacity:0.5;
border-radius:5px;
}
.three:hover {
opacity:1;
transition:0.6s;
left:0px;
}
header h2 {
 font-size:35px;
font-family:monospace;
text-align:center;
color:#008010;
}
main h2 {
 font-size:35px;
font-family:monospace;
text-align:center;
color:#008010;
}
header h3 {
position:relative;
top:-30px;
 font-size:25px;
font-family:monospace;
text-align:center;
color:#655C2D;
}
header li:NTH-CHILD(2) {
color:red;
}
header li {
color:#F6F65C;
font-size:25px;
margin-left:40px;
}
header ul {
list-style:url("https://i.ibb.co/35SvqFct/miner.png");
}
.new {
position:absolute;
left:165px;
top:215px;
}
body {
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXyAuGqlWAv6lieCSd6uMSjr2beAL3FTyJAQ&s");
}
main p {
color:#8AAC6E;
font-size:25px;
font-family:monospace;
animation: textappear 2s 1;
animation-timeline: view();
animation-range: entry 0% cover 40%;
}
footer h3 {
text-decoration:overline wavy #EBD4B5 3px;
font-family:monospace;
color:#C1A37C;
font-size:35px;
text-align:center;
}
footer h2 {
position:relative;
font-family:monospace;
color:#7E5E34;
font-size:25px;
float:left;
animation: TheEnd 2s infinite;
}
main span {
color:#66C925;
}
.video {
border-radius:50px;
}
.logo {
position:absolute;
right:0px;
width:70px;
height:70px;
animation: spin 2.5s infinite;
}
@keyframes spin {
from {
transform: rotate(0deg)
}
to {
transform: rotate(360deg)
}
}
header div {
background-image:url(https://i.pinimg.com/474x/e9/1b/80/e91b80ba12191f2d940f8e3f553c6557.jpg);
position:static;
animation: background 2s 1;
}
@keyframes background {
0% {
transform:translateY(-275px);
}
}
main h2 {
text-decoration:overline #578648 5px;
}
@keyframes textappear {
0% {
transform:translateX(200px);
opacity:10%
}
100% {
opacity:100%;
}
}
.Modrinth {
color:#32CD64;
}
.CurseForge {
color:#f0523a;
}
.ModForge {
position:relative;
top:10px;
width:50px;
}
@keyframes TheEnd {
10% {
transform:translateY(15px);
}
100% {
transform:translateY(-10px);
}
}
.warden {
position:relative;
width:75px;
}
main a {
text-align:center;
text-decoration:none;
color:#638C8C;
}
main a:hover {
transition:0.5s;
color:#94B8B8;
}
.wither {
width:30px;
}
.ender_dragon {
width:30px;
}
